<div class="row">
    <div class="col-md-5">
        <ul class='list-group'>
            {{#each burgers}}
            <li class='list-group-item mb-2'>{{this.id}}. {{this.burger_name}}<input class="float-right btn btn-primary"
                    type="button" value="Devour" burgerId="{{this.id}}">
            </li>
            {{/each}}
        </ul>
    </div>
</div>